
<!--
<div>
	<p class="text-success">Product Name: {{product.name}}</p>
	<img src="{{url_for('static', filename = 'images/' + product.image)}}" width="150" 
	height="150" style="background: white;">
	<div class="btn btn-success mt-1" style="text-align: right;">Order</div>
</div>
<div class="card-img-top" style="background: url('static/images/{{product.image}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
<a href="" class="float-right btn btn-sm btn-primary">Add To Cart</a>
-->

<div class="card mb-auto mr-auto" style="border: 2px solid gold;">
	<a href="{{url_for('main.productdetails', id = product.id)}}" class="btn" style="border-bottom: 2px solid red;">
		<img src="{{url_for('static', filename = 'images/' + product.image)}}" width="150" 
		height="200" style="background: white; width: 100%">
	</a>
    <div class="card-body">
        <h5>
        <a class="card-title" href="{{url_for('main.productdetails', id = product.id)}}">
        	{{ product.name}}

        </a>
        <form action = "{{url_for('main.checkout')}}" method="POST">
				<input type="hidden" name="product_id" value="{{product.id}}">
				<input class="float btn btn-sm btn-success" type="submit" name="" value="Check Out">
		</form>

       	</h5>
        	
        <h4>
        	<form action = "{{url_for('main.cart')}}" method="POST">
				<input type="hidden" name="product_id" value="{{product.id}}">
				<input class="float-right btn btn-sm btn-primary" type="submit" name="" value="Add to Cart">
			</form>
        ${{product.price}}
        </h4>
        
    </div>
</div>
